@import "tailwindcss";
@import "./lenis.css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #E4DACE;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #E4DACE;
    --foreground: #171717;
  }
}

html,
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* Hide Native scrollbars globally, Lenis handles the virtual scroll */
}

/* Hide scrollbar for Firefox and IE */
/* These are no longer needed as overflow: hidden; handles it */
/* scrollbar-width: none; */
/* -ms-overflow-style: none; */


/* Hide scrollbar for Chrome, Safari and Opera */
/* html::-webkit-scrollbar, */
/* body::-webkit-scrollbar { */
/*   display: none; */
/* } */

.wheel {
  transform-box: fill-box !important;
  transform-origin: center !important;
  transform: rotate(var(--wheel-rot, 0deg));
}